:root {
    --primary-color: forestgreen;
    --accent1-color: darkslateblue;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header img{
    width: 100px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}


 header nav{
    margin-top: 0px;
 }

.socialmedia a {
    text-decoration: none;
}

.socialmedia img{
    width: 50px
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: white;
}

.hero article {
    position: absolute;
    bottom: -10px;
    left: 40px;
    right: 40px;
    text-align: left;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: white;
}

.hero article img {
    float: right;
    width: 125px;
    height: 115px;
    box-shadow: 0 0 30px black;
}

section h2{
    text-align: center;
}

.box h2{
    width: 100%;
    height: auto;
    background-color: var(--accent1-color);
    padding: 16px;
    color: whitesmoke;
}

footer p{
    margin-bottom: -25px;
    border-top: 1px solid black;
}