:root{
    --border-color: black;
    --text-align: center;
    --color-one: darkblue;
    --general-height: auto;
    --padding: 20px;
}
nav {
    background-color: var(--color-one);
    padding: 10px;
}
nav a{
    color: white;
    display: block;
    padding: var(--padding);
}
h1  {
    color: var(--color-one);
}
main{
    max-width: 800px;
}

main img {
    width: 150px;
    height: var(--general-height);
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}
aside{
    width: 20em;
    margin: 1em;
    border: 1px solid var(--border-color);
    padding: 10px;
    background-color: lightgrey;
    color: var(--border-color);
    text-align: var(--text-align);
}
aside img{
    width: 200px;
    height: var(--general-height);
}
footer{
    margin-top: var(--general-height);
    border-top: 1px solid var(--border-color);
    text-align: var(--text-align);
}