* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border-color: black;
    --text-align: center;
    --color-one: darkblue;
    --general-height: auto;
    --padding: 20px;
}

nav {
    background-color: var(--color-one);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: var(--padding);
}

h1 {
    color: var(--color-one);
    padding-left: 2rem;
}

main {
    max-width: 800px;
}

main img {
    width: 150px;
    height: var(--general-height);
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding-left: 0.5rem;
    margin: 10px;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid var(--border-color);
    padding: 10px;
    background-color: lightgrey;
    color: var(--border-color);
    text-align: var(--text-align);
    position: relative;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 100px;
    z-index: 1;
}

aside img {
    width: 200px;
    height: var(--general-height);
}

footer {
    margin-top: var(--general-height);
    border-top: 1px solid var(--border-color);
    text-align: var(--text-align);
}

/* Class Selector */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: lightgrey;
    color: var(--border-color);
    clear: both;
}

.indent {
    padding-left: 2rem;
}